ol.curtains li.section{
    padding-top:50px;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;

    width:960px;
    height:792px;
    max-width:960px;
    max-height:792px;

    margin:0 auto;
    position: relative;

}
#inicio{
    color:white;
    text-shadow:0 1px 0 black;
    background:url('../img/back1.jpg') no-repeat center top;
    min-width:960px;
    max-width:960px;
    min-height:700px;
    max-height:700px;
    padding: 0px auto;
}
   
    #inicio #wrapper{
        min-width: 918px;
        max-width: 918px;
        margin: auto;
    }

        #inicio #back{
            background:url('../img/banner.png') no-repeat center top;
            min-height: 313px;
            max-height: 313px;
        }

        #inicio #filtro{
            background:rgba(255, 255, 255, 0.5);
            min-height: 290px;
            max-height: 290px;
            padding-top:15px; 
        }

        #inicio #banner{
            background:url('../img/letras-banner.png') no-repeat center top;
            margin-top:10px;
            min-height: 307px;
            max-height: 307px;
            margin: 0 auto;
        }

        #inicio #mensaje{
            background:url('../img/fondo-texto.png') no-repeat center top;
            min-width:744px;
            min-height:120px;
            color:#000;
            margin-top: 20px;
        }

        #inicio #texto{
            margin:20px 180px 0px 40px;
            text-align: right;
            font-family: Verdana;
            font-style:italic;
            font-size: 0.95em;
        }

        #inicio article #alertas{
            min-height: 30px;
            background-color:#059;
            min-width: 600px;
            margin-bottom: 30px;
            padding: 10px 0px 0px 10px;
            float: left;
        }

        #inicio article #mensaje{
            font-size: 1.6em;
        }

        #inicio #video{
            float:left;
            margin-left: 20px;
        }

        #inicio #mapa{
            float:right;
            margin-right: 20px;
        }

#infografia{
    background:rgba(155, 155, 155, 0.5) url('../img/back2.png') repeat left top;
    min-width: 960px;
    max-width: 960px;
}

    #infografia #brief{
        background:transparent url('../img/brief.png') no-repeat center center ;
        min-width: 870px;
        max-width: 870px;
        min-height: 86px;
        margin: 50px auto;
     }

    #infografia #info{
        background:transparent url('../img/info.png') no-repeat center center;
        min-width: 900px;
        max-width: 900px;
        min-height: 545px;
        max-height: 545px;
        margin-left: -20px;
        padding: 0px 0px 0px 50px;
        color: #000;
        z-index: 1;
     }

    #infografia #info #texto{
        position: absolute;
        z-index: -10;
        padding: 20px 10px 0px 65px;
        margin: 0px 0px 0px 37px;
        min-width: 758px;
        max-width: 758px;
        min-height: 525px;
        max-height: 525px;
        background: #fff;
        overflow-y: scroll;
        overflow-x: hidden;
     }

h1 {
    color: #000;
    font-size: 2.5em;
    font-family: Verdana;
    margin: 40px auto;
    max-width: 925px;
}

h2{
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom:40px;
    z-index: 1;
    position:absolute;
}

.circle {
    width: 90px;
    height: 90px;
    background: rgba(50, 50, 50, 0.8);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    z-index: -10;
}

.circle2 {
    width: 80px;
    height: 80px;
    background: rgba(125, 167, 217, 0.8);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    z-index: -10;
}

#afectaciones{
    background:#FFF url('../img/back2.png') repeat left top;
    color:#000;
    min-height: 980px;
    max-height: 980px;
}

    #afectaciones #industrias{
        max-width: 900px;
        min-width: 900px;
        min-height: 430px;
        max-height: 430px;
        padding: 0px 40px;
        margin: 0px auto;
        background: rgba(255, 255, 255, 0.5);

    }

    #afectaciones #desc-back{
        background: transparent url('../img/des.png') no-repeat left top;
        min-width: 417px;
        max-width: 417px;
        max-height: 25px;
        min-height: 25px;
    }

    #afectaciones #desc-back2{
        background: rgba(248, 128, 29, 0.6);
        min-width: 417px;
        max-width: 417px;
        max-height: 25px;
        min-height: 25px;
    }

    #afectaciones #pet{
        background: url('../img/desc.png') no-repeat left top;
        min-width: 78px;
        max-width: 78px;
        max-height: 18px;
        min-height: 18px;
    }

    #afectaciones .ind{
        max-width: 435px;
        min-width: 435px;
    }

    #afectaciones #petrolera{
        float: left;
    }

    #afectaciones #minera{
        float: right;
    }

    #afectaciones #minera h1{     
        margin-bottom: 20px;
    }

    #afectaciones #minera h2{     
        float: right;
        position: relative;
        display: block;
        margin: 20px 20px 20px 30px;
        min-width: 380px;
        text-align: right;
    }

    #afectaciones #c1{
        margin: 20px 0px 0px -70px;
    }
    #afectaciones #c2{
        margin: -130px 0px 7px -35px;
    }

    #afectaciones #c3{
        margin: -15px -500px 0px 0px;
        float: right;
    }

    #afectaciones #c4{
        margin: -35px -435px 0px 0px;
        float: right;
    }

    div.line{
        background: url('../img/line1.png') no-repeat left top;
        min-width: 883px;
        max-width: 883px;
        min-height: 7px;
        max-height: 7px;
        margin: 0px auto;
    }

    #afectaciones #campanias{
        margin:0px auto;
        min-height: 125px;
        max-width: 900px;
        padding: 5px 0px 0px 10px;
    }
    #afectaciones #campanias li{
        min-width: 214px;
        max-width: 214px;
        min-height: 122px;
        max-height: 122px;
        float: left;
        background: #777;
        margin-right: 10px;
    }
#indpetrolera {
    background:#FFF url('../img/back2.png') repeat left top;
    min-height: 1450px;
}
#indpetrolera #min-head{
    background: url('../img/min-banner.png') no-repeat left top;
    min-width:966px;
    max-width:966px;
    min-height:150px;
    max-height:150px;
    margin-top: -50px;
}

#indpetrolera h1 {
    margin-left: 35px;
    margin: 15px 0px 10px 40px;
}

#indpetrolera ul#videos{
    margin: 20px 50px;
}

#indpetrolera ul#videos li{
    min-width:700px;
    max-width:700px;
    max-height:185px;
    min-height: 185px;
    margin-bottom: 15px;
    margin-top:30px;
}

#indpetrolera span{
    color: #000000;
    float: left;
    margin-left: 20px;
    width: 375px;
    margin-bottom: 9px
}

#indpetrolera video{
    background: url('../img/video2.png') no-repeat left top;
    min-width:293px;
    min-height:182px;
    float:left;
}

#indpetrolera iframe {
    min-width:293px;
    min-height:182px;
    float:left;
}

/******************************/
/******** Marco Legal *********/
/******************************/

#marcolegal, #ingresos, #mapainteractivo, 
#transparencia, #acerca{   
    background:url('../img/back2.png') repeat left top;
    min-width: 930px;
    max-width: 930px;
    min-height:960px;
    max-height:960px;
    padding: 0px 15px;
}

#marcolegal{   
    min-height: 1200px;
    color:#000;             
}

    #marcolegal h2  {
        font-size: 1.4em;
        font-weight: bold;
        margin: 50px auto auto auto;
        position: relative;
        max-width: 190px;
        padding-bottom: -20px;
    }
div.cuad, ul.cuad {
    border:1px solid #ccc;
    background: rgba(255, 255, 255, 0.5);
}
.marco{
    width: 90px;
    height: 90px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    z-index: -10;
    border:1px solid #fff;
    padding-top: 10px;
    background: rgba(0, 0, 0, 0.15);
}
#marco-constitucion {
    background: rgba(100, 255, 255, 0.15);

}

#marco-constitucion ul{
    margin-top: 35px;
    margin-left: 21px;
}

#marco-constitucion li a{
    display: block;
    width: 80px;
    max-height: 30px;
    min-height: 30px;
    margin: 0;
    outline: none;
    position: relative;
    float: left;
}
.marco li a{
    text-decoration: underline;
    
}

.marco li a:hover{
    cursor:pointer;
    color: #000;
}

.marco li p{
    margin-bottom: 20px;
}

#marco-constitucion li a span{
    color:#000;
    width: 380px;
    min-height: 110px;
    line-height: 20px;
    padding: 10px;
    left: 50%;
    margin-left: -210px;
    font-style: italic;
    background: rgba(200,200,200,0.3);
    border-radius: 5px;
    position: absolute;
    bottom: 100px;
    opacity: 0;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    transition: all 0.3s ease-in-out;
    display: hidden;
}

#res-marco-petrolera,
#res-marco-comun,
#res-marco-minera {
    margin:70px 0 0 15px ;
    padding: 20px;
    background: rgba(200,200,200,0.3);
    height: 130px;
    width: 290px;
    position: relative;
    -webkit-border-radius: 0 0 250px 250px;
    #border-radius:  0 0 225px 225px;
    #-moz-border-radius:  0 0 225px 225px;
    text-align: center;
    display: none;
}

.marco ul{
    margin-left: 50px;
    margin-top: 5px;
}
.marco li{
    float:left;
    max-width: 30px;
    margin-right: 50px;
    margin-top: 5px;
}
#marco-petrolera li a span{
    display: none;
}

#marco-petrolera li a:hover span{
    opacity: 0.9;
    top: 30px;
}

#marco-constitucion li a span:after{
    content: '';
    position: absolute;
    top: -12px;
    left: 50%;
    margin-left: -9px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgba(0,0,0,0.3);
}

#marco-constitucion li a:hover span{
    opacity: 0.9;
    top: 30px;
}
    #marco-constitucion, #marco-petrolera, 
    #marco-minera, #marco-comun{
        margin: 35px auto 0px auto;
        display: block;
        margin:-50px auto;
        min-width: 360px;
        min-height: 330px;

        -moz-border-radius: 200px;
        -webkit-border-radius: 200px;
        border-radius: 200px;
        padding-top: 30px;
    }

    #marco-petrolera, #marco-minera, #marco-comun{
        min-width: 360px;
        max-width: 360px;
        min-height: 330px;
        max-height: 330px;
        margin-top: -100px;
    }
    #marco-petrolera{
        background: rgba(255, 100, 255, 0.2);
        float: left;
        margin-left:100px;
    }

    #marco-minera{
        background: rgba(255, 255, 100, 0.2);
        float: right;
        margin-right:100px;
    }

    #marco-comun{
        display: block;
        background: rgba(100, 100, 255, 0.15);
        margin:0px auto;
        margin-top: 100px;
    }

    #marco-propuestas{
        margin-top: 20px;
        max-height: 300px;
        min-height: 300px;
        min-width: 925px;
        max-width: 925px;
    }
    
    #marco-propuestas h2{
        min-width: 220px;
        max-width: 220px;
    }

#ingresos{
    min-height: 1200px;
}

#ingresos div, #ingresos ul, #ingresos h2{color: #000;}

#ingresos div#text-contr{
    background: rgba(255, 255, 255, 0.5);
    min-width: 900px;
    max-width: 900px;
    padding: 10px;
    margin: 0 auto;
}

#ingresos div#grafica-contr{
    background: #ccc;
    min-width: 700px;
    max-width: 700px;
    min-height: 400px;
    max-height: 400px;
    margin: 0 auto;
}

#ingresos h2{
    min-width: 210px;
    max-width: 210px;
    min-height: 30px;
    max-height: 30px;
    margin: 10px auto;
    position: relative;
}


#ingresos ul#hidrocarburos, ul#mineria{
    min-width: 450px;
    max-width: 450px;
    min-height: 250px;
    min-width: 250px;
}

#ingresos ul#hidrocarburos{
    float:left;
}

#ingresos ul#mineria{
    float:right;
}

#ingresos .min-graf{
    min-width: 90px;
    max-width: 90px;
    min-height: 100px;
    max-height: 100px;
    background: #ccc;
    margin:5px;
    float:left;
}

#ingresos .min-graf.right{float:right;}

#ingresos .ing-ind li{
    margin-bottom:10px; 
    min-height: 100px;
}

#ingresos .ing-ind p{
    max-width: 350px;
    float: left;
}

#ingresos #ingr-propuestas{
    min-width: 920px;
    height: 200px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    z-index: -10;
    border:1px solid #ccc;
    background: rgba(255, 255, 255, 0.5);
    margin-top: 250px;
}


#transparencia h2{
    position: relative;
}

#transparencia #left, #transparencia #right{
    min-height: 100%;
    max-height: 100%;
    min-width: 45%;
    max-width: 45%;
    padding: 20px;
    float:left;
    background: rgba(255, 255, 255, 0.5);
    color:#000;
}

#transparencia #left{
    margin-right: 10px;
}

#transparencia #right li{
    border-bottom: 1px solid #ccc;
    min-height:250px;
    max-height:250px;
}

#acerca .ab-txt, #acerca h2{
    position: relative;
    color:#000;
}

#acerca .ab-txt{
    min-width: 900px;
    max-width: 900px;
    padding: 10px;
    margin-bottom: 20px;
} 

#menu-mapas{
}

#menu-mapas li {
    float:left;
    margin-right: 20px;
}
#menu-mapas li a{
    color:#555;
    font-size: 1.3em;
}

#menu-mapas li a:hover{
    color:#000;
}

/*
   
        float: right;
        position: relative;
        display: block;
        margin: 20px 20px 20px 30px;
        min-width: 380px;
        text-align: right;
*/

#multiple_slides_visible{
    min-height: 180px;
}

.agile_carousel{
    width: 900px;
}


#publicaciones{
     background:url('../img/back2.png') repeat left top;
    min-width: 930px;
    max-width: 930px;
    min-height:740px;
    max-height:740px;
    padding: 0px 15px;
}


#footer {
    background: url("../img/footer.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin: 0 auto;
    min-height: 200px;
    min-width: 930px;
    padding: 0 0 0 30px;
    position: relative;
    width: 930px;
}
/*padding:80px 20px 10px 75px;*/

#footer ol{
    color: #FFFFFF;
    float: left;
    margin-left: 35px;
    margin-top: 56px;
    max-height: 150px;
    max-width: 337px;
    min-height: 150px;
    min-width: 340px;
    position: relative;
}

#footer ol#col2 li{
    float:left;
    min-width: 170px;
    max-width: 170px;
}

#footer #col3{
    min-width: 100px;
}


#footer a {
	text-decoration:none;
}

/* MENU */

.menu{
    position:fixed;
    z-index:20;
    min-width: 100%;
    min-height: 20px;
    padding:10px 0px 10px 0px;
    background-color:#000;
    margin: 0 auto;
    display: block;

}

    .menu li{
        float: left;
        font-size: 1.1em;
		 margin-right: 18px;
        display: inline-block;
    }

    .click{
        color: #fff;
    }

    .hover{
        color: #fff;
    }

    .normal{
        color: #ccc;
    }

    .menu a{
        margin:0;
        text-decoration: none;
        display: block; 
    }

/* NAV CONTROLERS*/

.nav_controls{
    position:fixed;
    z-index:20;
    min-width: 50px;
    padding:10px 0px 10px 15px;
    margin: 0 auto;
    display: block;
    right:0;
    bottom:20px;
}
.nav_controls li{
    cursor: pointer;
    margin: 15px auto;
    max-width: 20px;
}
    
.nav_controls a{
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
}

.nav_controls a#up, .nav_controls a#down{
    max-width: 20px;
    width: 20px;
}

.nav_controls li a:hover{
    color:#000;
}

#container { width:960px; margin:0 auto; }


/*******************      Map      ****************/
#map { position:absolute; top:0; bottom:0; width:100%; }
#mapainteractivo { padding:0 important; }

#map{   
    min-width: 960px;
    min-height: 7500px;
    margin-left: 0px;
    margin-top: 180px;
    float: right;
}

#map-ui {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
}

#map-ui ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#map-ui span {
    font-size: 13px;
    background: #FFF;
    color: #3C4E5A;
    display: block;
    margin: 0;
    padding: 0;
    border: 1px solid #BBB;
    border-bottom-width: 0;
    min-width: 138px;
    padding: 10px;
    text-decoration: none;
    cursor:pointer;
}

#map-ui span:hover {
    background: #ECF5FA;
}

#map-ui li:last-child span {
    border-bottom-width: 1px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

#map-ui li:first-child span {
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

#map-ui span.active {
    background: #3887BE;
    border-color: #3887BE;
    border-top-color: #FFF;
    color: #FFF;
}

#map-ui li:first-child span.active {
    border-top-color: #3887BE;
}

#map .map-fullscreen {
    background-color: #28353D;
}

.margin20 { margin-top:30px !important; }
